*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json


yarn.lock
package-lock.json


global-conversations
conversations
plans
# SpecStory explanation file
.specstory/.what-is-this.md
.specstory/.history/
